<span>工单已处理完成待审核</span>
<br />
<br />
<table class="layui-table" border="1">
  <thead style="background-color: yellow;">
    <tr>
      <th>工单号</th>
      <th>申请人姓名</th>
      <th>联系电话</th>
	  <th>部门</th>
	  <th>资产编码</th>
	  <th>报修类别</th>
	  <th>设备名称</th>
	  <th>型号</th>
	  <th>机械编号</th>
	  <th>申请时间</th>
	  <th>希望完成时间</th>
	  <th>维修完成时间</th>
	  <th>报修问题</th>
	  <th>工单状态</th>
    </tr> 
  </thead>
  <tbody>
    <tr style="text-align: center;">
	  <td th:text="${data.workOrderNo}"></td>
      <td th:text="${data.fullName}"></td>
      <td th:text="${data.telephone}"></td>
	  <td th:text="${data.departmentName}"></td>
	  <td th:text="${data.assetCode}"></td>
	  <td th:text="${data.category}"></td>
	  <td th:text="${data.equipmentName}"></td>
	  <td th:text="${data.model}"></td>
	  <td th:text="${data.machineNumber}"></td>
	  <td th:text="${data.createTime}"></td>
	  <td th:text="${data.completionTime}"></td>
	  <td th:text="${data.repairCompletionTime}"></td>
	  <td th:text="${data.repairProblems}"></td>
	  <td>已处理->待审核</td>
    </tr>
  </tbody>
</table>
<br />
你好，<span th:text="${data.workOrderNo}"></span>号工单已处理完毕，请帮忙审核<br />
<br />
<a href="http://172.19.1.36:81/ssx-admin/#/reportrepair/workorder/workorder">点击跳转审核</a>
<br />
<br />
链接：http://172.19.1.36:81/ssx-admin/#/reportrepair/workorder/workorder
<br />
<br />
以上，谢谢！